/.vscode/
/build*/
/qtbuild*/
/xcode/
/vsproject/
/.vs/
/out/
/dist/
/target/
/install/

.vscode-ctags
.coverage
.devcontainer.json

/venv*/
/tmp/

/cppcheck/
engine.cppcheck
cppcheck.xml
*.dump

.devcontainer

scancode.json
scancode.sqlite
sbom.json

.DS_Store
*.user*

*.uvguix.*

*.psprj
/BF_Result_*/

.env

unknown_nodes_log.txt

.pytest_cache/
__pycache__
*.pyc
*.egg-info/
.mypy_cache/

/*.rtm
/rtm/
/*.rtm
/*.jpg

# Working files - not for public repository
TODO.md
RUST_MIGRATION_PLAN.md
Software_Process/
migrate_to_github.sh
cmake/toolchain-aarch64-linux-gnu.cmake

callgrind.out.*

local-storage.json
compile_commands.json
CMakeSettings.json

GPATH
GRTAGS
GTAGS
*~

.dccache

/librt

/fsl*.sh
/gst-plugins-bad/

/compile_commands*.json
/gcovr*.xml
/pytest*.xml
/pycov*.xml
/sonar*.xml
/.scannerwork/
lcov.info

# Debian packaging artifacts
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/tmp/
/debian/libvideostream/
/debian/libvideostream-dev/
/debian/libvideostream-gstreamer/
/debian/videostream-python/
/debian/videostream-samples/
/debian/videostream-tools/
/obj-*/
/*.build
/*.buildinfo
/*.changes
/*.deb
/*.dsc
/*.tar.*
/*.ddeb


/SPS/
env.sh
